mixin nav()
    nav
        ul.main-nav
            li
                a(href="/superheroes")
                    | List
            li
                a(href="/superheroes/create")
                    | Create