extends ../_shared/master

block content
    ul#superheroes-list.list
        each hero in superheroes
            li
                a(href="/superheroes/" +  hero.id)
                    | #{hero.name}